@using LGS.AppProperties
@model  LGS.Models.ViewModels.DashboardViewModels.CompanyViewModel

@{
    ViewBag.Title = "CompanyDetail";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@Styles.Render("~/Content/rating.css")

<section class="content">

    @if (ViewBag.AlertDialog.Equals((int)LgsAlertEnums.MessageSent))
    {
        <div id="alert" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>
            <strong>Success! </strong> Message Sent.
        </div>
    }

    @if (ViewBag.AlertDialog.Equals((int)LgsAlertEnums.MessageSentFailed))
    {
        <div id="alert" class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>
            <strong>Failed! </strong> Message Sent Failed.
        </div>
    }

    @if (ViewBag.AlertDialog.Equals((int)LgsAlertEnums.ReviewSaved))
    {
        <div id="alert" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>
            <strong>Success! </strong> Review Posted.
        </div>
    }

    @if (ViewBag.AlertDialog.Equals((int)LgsAlertEnums.ReviewSaveFailed))
    {
        <div id="alert" class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>
            <strong>Failed! </strong> Review Post Failed.
        </div>
    }
    <div class="row">

        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    @if (string.IsNullOrEmpty(Model.Company.LogoPath))
                    {
                        <img type="file" style="cursor: pointer" id="CompanyLogoPic" class="profile-user-img img-responsive img-circle" src="/LgsImageRepo/CompanyImages/companydefault.png" alt="User profile picture">
                    }
                    else
                    {
                        var absolutePath = HttpContext.Current.Server.MapPath("~/" + Model.Company.LogoPath);
                        if (!@File.Exists(absolutePath))
                        {
                            <img type="file" style="cursor: pointer" id="CompanyLogoPic" class="profile-user-img img-responsive img-circle" src="/LgsImageRepo/CompanyImages/companydefault.png" alt="User profile picture">
                        }
                        else
                        {
                            <img type="file" style="cursor: pointer" id="CompanyLogoPic" class="profile-user-img img-responsive img-circle" src="@Model.Company.LogoPath" alt="User profile picture">
                        }
                    }
                    <h3 class="profile-username text-center">@Model.Company.CompanyName</h3>

                    <p class="text-muted text-center">Company</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>About Co. </b> <a class="pull-right">@Model.Company.MainDescription</a>
                        </li>
                        <li class="list-group-item">
                            <b>Est. Date</b> <a class="pull-right">@Model.Company.CreatedDate.ToShortDateString()</a>
                        </li>
                        <li class="list-group-item">
                            @* <b>Ratings</b> <a class="pull-right">@Model.Company.Ratings</a> *@
                            <b>Ratings</b>
                            <a class="pull-right">
                                <span id="rateYo"></span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b>

                            @if (Model.Company.IsBlocked)
                            {
                                <a class="pull-right">
                                    In Active
                                </a>
                            }
                            else
                            {
                                <a class="pull-right">Active</a>
                            }
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-block" id="@Model.Company.Id" data-toggle="modal" data-target="#modal-info">
                        <b id="@Model.Company.Id" class="comId">Send Message</b>
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#activity" data-toggle="tab" aria-expanded="true">Company Profile</a>
                    </li>
                    <li class="">
                        <a href="#reviews" data-toggle="tab" id="reviewsTab" aria-expanded="False">Company Review</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <!-- Post -->
                        <div class="box-body">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-building-o"></i>

                                    <h3 class="box-title">@Model.Company.CompanyName</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <dl class="dl-horizontal">
                                        <dt>Complete Co. Name</dt>
                                        <dd>@Model.Company.MainDescription.</dd>

                                        <dt style="margin-top: 5px">Phone Number</dt>
                                        <dd style="margin-top: 5px">@Model.Company.PhoneNumber.</dd>

                                        <dt style="margin-top: 5px">Company Email</dt>
                                        <dd style="margin-top: 5px">@Model.Company.CompanyEmail.</dd>

                                        <dt style="margin-top: 5px">Street No.</dt>
                                        <dd style="margin-top: 5px">@Model.Company.AddressTwoStreet.</dd>

                                        <dt style="margin-top: 5px">Plot No. / Shop No.</dt>
                                        <dd style="margin-top: 5px">@Model.Company.AddressOneUnit.</dd>

                                        <dt style="margin-top: 5px">Postal Code</dt>
                                        <dd style="margin-top: 5px">@Model.Company.PostalCode.</dd>

                                        <dt style="margin-top: 5px">City / District</dt>
                                        <dd style="margin-top: 5px">@Model.Company.AddressThreeLocality.</dd>


                                        <dt style="margin-top: 35px">Short Description</dt>
                                        <dd style="margin-top: 35px"> @Html.Raw(@Model.Company.ShortDescription)</dd>
                                    </dl>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                        <div class="panel box box-primary">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="True">
                                                        Detailed Description
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                                <div class="box-body">
                                                    @Html.Raw(@Model.Company.LongDescription)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel box box-danger">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="True">
                                                        Our Location
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse in" aria-expanded="true">
                                                <div class="box-body">
                                                    <div id="mapIframe">
                                                        @if (!string.IsNullOrEmpty(Model.Company.MapLocation))
                                                        {
                                                            @Html.Raw(@Model.Company.MapLocation)
                                                        }
                                                        else
                                                        {
                                                            <iframe width="800" height="500" id="gmap_canvas1" src=" https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                                            </iframe>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.tab-pane -->


                        </div>

                        <!-- /.tab-content -->
                    </div>
                    <div class="tab-pane" id="reviews">
                        <div class="box-body">
                            <div class="box box-success">
                                <div class="box-header ui-sortable-handle" style="cursor: move;">
                                    <i class="fa fa-comments-o"></i>

                                    <h3 class="box-title">Reviews</h3>

                                    <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">

                                    </div>
                                </div>
                                <div class="box-body chat" id="chat-box" style="overflow-y: scroll; height: 400px;">

                                    @foreach (var companyReviews in Model.Company.CustomerReviews)
                                    {
                                        <!-- chat item -->
                                        <div class="item">
                                            <br />

                                            <img src="~/LgsImageRepo/ProfileImages/profiledefault.png" alt="user image" class="offline">

                                            <p class="message">

                                                <a href="#" class="name">
                                                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @companyReviews.CreatedDate.Date.ToShortDateString() - @companyReviews.CreatedDate.ToShortTimeString()</small>
                                                    @companyReviews.CustomerName -- @companyReviews.CustomerEmail
                                                    <div class="pull-right">

                                                        Service Rating : @companyReviews.ServiceRating &nbsp;

                                                        Quality Rating : @companyReviews.QualityRating &nbsp;

                                                        Price Rating : @companyReviews.PriceRating &nbsp;

                                                    </div>
                                                </a>
                                                <br />

                                                @companyReviews.Review

                                            </p>
                                        </div>
                                    }
                                    <!-- /.item -->
                                    <!-- /.item -->
                                </div>

                            </div>
                            <div class="box-footer">
                                <form action="/home/postreview" method="post">
                                    <div class="form-inline">
                                        <input class="form-control" placeholder="Full Name" type="text" name="CustomerReview.CustomerName" value="">
                                        <input class="form-control" placeholder="Email" type="email" name="CustomerReview.CustomerEmail" value="">
                                        <input class="form-control" placeholder="Address." type="text" name="CustomerReview.CustomerAddress" value="">
                                        <input class="form-control" placeholder="Phone Number" type="text" name="CustomerReview.CustomerPhoneNumber" value="">


                                    </div>
                                    <br />
                                    <input type="hidden" name="CustomerReview.CompanyId" value="@Model.Company.Id">

                                    <div class="form-inline">

                                        Service Rating
                                        <span class="form-control no-border" id="SetServiceRating"></span>
                                        <input type="hidden" id="ServiceRating" name="CustomerReview.ServiceRating" value="">

                                        Quality Rating
                                        <span class="form-control no-border" id="SetQualityRating"></span>
                                        <input type="hidden" id="QualityRating" name="CustomerReview.QualityRating" value="">

                                        Price Rating
                                        <span class="form-control no-border" id="SetPriceRating"></span>
                                        <input type="hidden" id="PriceRating" name="CustomerReview.PriceRating" value="">

                                    </div>
                                    <br />
                                    <br />
                                    <div class="input-group">

                                        <input class="form-control" placeholder="Type Review..." type="text" name="CustomerReview.Review" value="">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.col -->
        <!-- /.row -->
    </div>

</section>


<div class="content modal modal-info fade" id="modal-info" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color: white;">
                <div class="modal-header">
                    <button type="button" class="close" id="modalinfoclose" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Write Message</h4>
                </div>
            </div>
            <div class="box-body">

                <form action="/home/sendmessage" method="post">
                    <input class="CId" name="CompanyId" type="hidden" value="@Model.Company.Id">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="exampleInputFullNameedit" style="color: black">Full Name</label>
                        <input class="form-control" data-val="true" data-val-required="The Full Name field is required." id="CFullName" name="Customer.FullName" placeholder="Full Name" type="text" value="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmailedit" style="color: black">Email Address</label>
                        <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="CEmail" name="Customer.Email" placeholder="Email" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPhoneNumeredit" style="color: black">Phone Number</label>
                        <input class="form-control" data-val="true" data-val-required="The Phone Number is required." id="CPhoneNumber" name="Customer.PhoneNumber" placeholder="Phone Number" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputOneUnitedit" style="color: black">Address No.</label>
                        <input class="form-control" data-val="false" data-val-required="The Address No. field is required." id="CAddressNo" name="Customer.AddressOneUnit" placeholder="Address No." type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputTwoUnitedit" style="color: black">Address Street</label>
                        <input class="form-control" data-val="true" data-val-required="The Address Street is required." id="CAddressStreet" name="Customer.AddressTwoStreet" placeholder="Address Street" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputThreeUnitedit" style="color: black">Address City / Locality</label>
                        <input class="form-control" data-val="true" data-val-required="The Address City is required." id="CAddressCity" name="Customer.AddressThreeLocality" placeholder="Address City" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPostalCodeedit" style="color: black">Postal Code</label>
                        <input class="form-control" data-val="true" data-val-required="The Postal Code is required." id="CPostalCode" name="Customer.PostalCode" placeholder="Postal Code" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputMessageedit" style="color: black">Message</label>
                        <input class="form-control" data-val="true" data-val-required="The Message is required." id="CMessage" name="CustomerMessage.Message" placeholder="Message" type="text" value="">
                    </div>

                    @* <input class="form-control" id="CMEmail" name="CustomerMessage.CustomerEmail" type="hidden" value=""> *@
                    @* <input class="form-control" id="CMPhoneNumber" name="CustomerMessage.CustomerPhoneNumber" type="hidden" value=""> *@
                    @* <input class="form-control" id="CMCompanyId" name="CustomerMessage.CompanyId" type="hidden" value=""> *@

                    <button type="submit" id="SubmitMessage" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-3.3.1.js"></script>


<script>
    $(document).ready(function() {
        //Start Get Star Rating From Number
        var ratingVal = 0;
        var companyId = null;

        $('.comId').click(function() {
            companyId = $(this).attr("id");
            $(".CId").val(companyId);
        });

        //Alert Script Code
        setTimeout(function() {
                $("#alert").fadeTo(1000, 200).slideUp(200,
                    function() {
                        $("#alert").remove();
                    });
            },
            1000); //5000=5 seconds
        $(function() {

            $("#rateYo").rateYo({
                rating: @Model.Company.Ratings
            });
            $("#rateYo").rateYo()
                .on("rateyo.set",
                    function(e, data) {
                        $("#CompanyRating").val(data.rating);
                        ratingVal = data.rating;
                        setRating(ratingVal);
//                    alert("The rating is set to " + data.rating + "!");
                    });
            $("#rateYo").rateYo("option", "starWidth", "20px");
//            function SetRatings() {
//                var reviewsArray = JSON.parse(reviewsJson);
//
//                for (var i = 0; i < rateLoopCount; i++) {
//
//                    $("#GetServiceRating").rateYo({
//                        rating: reviewsArray[i].ServiceRating,
//                        readOnly :true
//                    });
//                    $("#GetQualityRating").rateYo({
//                        rating: reviewsArray[i].QualityRating,
//                        readOnly :true
//                    });
//                    $("#GetPriceRating").rateYo({
//                        rating: reviewsArray[i].PriceRating,
//                        readOnly :true
//                    });
//                }
//            }

//            function GetServiceRatings(rating) {
//                $("#GetServiceRating").rateYo({
//                    rating: rating,
//                    readOnly :true
//                });
//
//            }
//            function GetQualityRatings(rating) {
//            $("#GetQualityRating").rateYo({
//                rating: rating,
//                readOnly :true
//            });
//            }
//            function GetPriceRatings(rating) {
//                $("#GetPriceRating").rateYo({
//                    rating: rating,
//                    readOnly :true
//                });
//            }

            $("#SetServiceRating").rateYo()
                .on("rateyo.set",
                    function(e, data) {
                        $("#ServiceRating").val(data.rating);
                        ratingVal = data.rating;
                    });
            $("#SetServiceRating").rateYo("option", "starWidth", "20px");

            $("#SetPriceRating").rateYo()
                .on("rateyo.set",
                    function(e, data) {
                        $("#PriceRating").val(data.rating);
                        ratingVal = data.rating;
                    });
            $("#SetPriceRating").rateYo("option", "starWidth", "20px");

            $("#SetQualityRating").rateYo()
                .on("rateyo.set",
                    function(e, data) {
                        $("#QualityRating").val(data.rating);
                        ratingVal = data.rating;
                    });
            $("#SetQualityRating").rateYo("option", "starWidth", "20px");


            var mapDiv = document.getElementById("mapIframe");
            var iFrame = mapDiv.getElementsByTagName("iframe")[0];
            iFrame.width = "800px";
            iFrame.height = "500px";

        });

        function setRating(ratingVal) {
            // Ajax call to HttpGet Method
            $.ajax({
                //base address/controller/Action
                url: '/home/setrating',
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=UTF-8",
                data: {
                    //Passing Input parameter
                    rating: ratingVal,
                    companyId: @Model.Company.Id
                },
                success: function() {

                },
                error: function() {
                }
            });

        }

        //End Star Rating From Number
    });
</script>