@using LGS.AppProperties
@model LGS.Models.AdminViewModels.DashboardViewModels.DashboardViewModel

@{
    ViewBag.Title = "Clients-Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Admin Dashboard
        <small>LGS Control Panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Level</a>
        </li>
        <li class="active">Admin Dashboard</li>
    </ol>
</section>
<hr/>


<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-header with-border">

                <h3 class="box-title">Clients View Panel</h3>

                <div class="box-tools pull-right">

                    <div class="btn-group">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
                            <i class="fa fa-user"> Add Client </i>
                        </button>

                        @* <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> *@
                        @*     <i class="fa fa-user"></i> *@
                        @* </button> *@

                        @* <ul class="dropdown-menu" role="menu"> *@
                        @*     <li class="divider"></li> *@
                        @* *@
                        @*     <li> *@
                        @*         <a href="#">Add Client</a> *@
                        @*     </li> *@
                        @* *@
                        @* </ul> *@
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->

            @* SUCCESS ALERT DIV *@
            @if (ViewBag.AlertDialog.Equals((int) LgsAlertEnums.SuccessfulRegistration))
            {
                <div id="alert" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    <strong>Great! </strong> Client is Registered.
                </div>
            }
            else if (ViewBag.AlertDialog.Equals((int) LgsAlertEnums.SuccessfulUpdate))
            {
                <div id="alert" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    <strong>Success! </strong> Client is Updated.
                </div>
            }
            else if (ViewBag.AlertDialog.Equals((int) LgsAlertEnums.SuccessfulDelete))
            {
                <div id="alert" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    <strong>Success! </strong> Client is Deleted.
                </div>
            }
            else if (ViewBag.AlertDialog.Equals((int) LgsAlertEnums.UserExist))
            {
                <div id="alert" class="alert alert-error alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    <strong>Sorry! </strong> User already exist with this email.
                </div>
            }
            else if (ViewBag.AlertDialog.Equals((int) LgsAlertEnums.InvalidModel))
            {
                <div id="alert" class="alert alert-error alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    <strong>Sorry! </strong> Something is wrong with information you entered.
                </div>
            }

            @*SUCCESS ALERT DIV CLOSED*@

            <div class="box-body">
                @if (Model.UserViewModels == null || Model.UserViewModels.Count == 0)
                {
                    <p style="text-align: center">
                        <b>No clients found.</b>
                    </p>
                }
                else
                {
                    foreach (var client in Model.UserViewModels)
                    {
                        <a href="/admin/clientdetails/@client.Client.Id">
                            <div id="@client.Client.Id" class="col-md-3" style="cursor: pointer">
                                <div class="box box-primary">
                                    <div class="box-body box-profile">

                                        @if (string.IsNullOrEmpty(client.Client.ProfilePhoto))
                                        {
                                            <img class="profile-user-img img-responsive img-circle" src="../../LgsImageRepo/ProfileImages/profiledefault.png" alt="User profile picture">
                                        }
                                        else
                                        {
                                            var absolutePath = HttpContext.Current.Server.MapPath("~/" + @client.Client.ProfilePhoto);
                                            if (!@System.IO.File.Exists(absolutePath))
                                            {
                                                <img class="profile-user-img img-responsive img-circle" src="../../LgsImageRepo/ProfileImages/profiledefault.png" alt="User profile picture">
                                            }
                                            else
                                            {
                                                <img class="profile-user-img img-responsive img-circle" src="@client.Client.ProfilePhoto" alt="User profile picture">
                                            }
                                        }

                                        @Html.Hidden("UserId", @client.Client.Id, new {@id = "userId"})

                                        <h3 class="profile-username text-center">@client.User.FullName</h3>
                                        <p class="text-muted text-center">@client.RoleName</p>

                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b style="color: black">Email Address :</b> <p  class="text-muted pull-right">@client.User.Email</p>
                                            </li>
                                            <li class="list-group-item">
                                                <b style="color: black">Created Date :</b> <p class="text-muted pull-right">@client.Client.CreatedDate.ToShortDateString()</p>
                                            </li>
                                            
                                            <li class="list-group-item">
                                                <b style="color: black">User Status :</b>
                                              

                                                    @if (client.Client.IsBlocked)
                                                    {
                                                        <p class="text-muted pull-right">Blocked</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-muted pull-right">Active</p>
                                                    }

                                            </li>
                                        </ul>

                                        @* <a href="#" class="btn btn-primary btn-block"> *@
                                        @*     <b>Follow</b> *@
                                        @* </a> *@
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </a>
                    }
                }

                <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block">

                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


<div class="modal modal-info fade" id="modal-info" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Client Registration Form</h4>
            </div>
            @using (Ajax.BeginForm("ClientRegister", "Admin", new AjaxOptions {HttpMethod = "POST"}))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">

                    @Html.ValidationSummary("", new {@class = "text-danger"})

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">

                            <div class="form-group">
                                <label for="exampleInputEmail1" style="color: black">Email Address</label>
                                @Html.TextBoxFor(m => m.RegisterVm.Email, new {@class = "form-control", @placeholder = "Email"})

                            </div>

                            <div class="form-group">
                                <label for="exampleInputFullName1" style="color: black">Full Name</label>
                                @Html.TextBoxFor(m => m.RegisterVm.FullName, new {@class = "form-control", @placeholder = "Full Name"})

                            </div>


                            <div class="form-group">
                                <label for="exampleInputPassword1" style="color: black">Password</label>
                                @Html.PasswordFor(m => m.RegisterVm.Password, new {@class = "form-control", @placeholder = "Password"})

                            </div>

                            <div class="form-group">
                                <label for="exampleInputConfirmPassword1" style="color: black">Confirm Password</label>
                                @Html.PasswordFor(m => m.RegisterVm.ConfirmPassword, new {@class = "form-control", @placeholder = "Confirm Password"})

                            </div>

                        </div>
                        <!-- /.box-body -->

                    </div>


                    @* <p>One fine body…</p> *@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Save changes</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*SUCCESS ALERT DIV JQUERY*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    setTimeout(function() {
            $("#alert").fadeTo(1000, 200).slideUp(200,
                function() {
                    $("#alert").remove();
                });
        },
        1000); //5000=5 seconds
</script>
@*SUCCESS ALERT DIV JQUERY*@


@* <script src="/admin-lte/datatables.net/js/jquery.dataTables.min.js"></script> *@
@* <script src="/admin-lte/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> *@
@* *@
@* <script src="/admin-lte/jquery-slimscroll/jquery.slimscroll.min.js"></script> *@